
body {
  text-align: center;
  background-color: #e1d7f5;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-family: 'Cookie', cursive;
  color: #666666;
}

nav {
  background-color: #d2afff;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}

nav a {
  font-size: 50px;
  font-family: 'Cookie', cursive;
  color: #666666;
  margin: 50px;
  text-decoration: none;
}

nav a:hover {
  color: #000000;
}


p {
  font-size: 20px;
  font-family: 'Bitter', serif;
  color: #666666;
}

.btn {
  float: left;
  margin-top: 10px;
  margin-bottom: 30px;
}

.btn a {
  position: relative;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  color: #666666;
  margin-right: 30px;
  padding: 10px 20px;
  border: 1px solid #666666;
  text-decoration: none;
}

.btn a:hover {
  color: #000000;
  border: 1px solid #000000;
}
